.menu{
    background-color: $green-vue;
    height: 70px;
    .navbar {
        width: 10%;
    }
    a {
        color: $white;
        font-weight: bold;
        &.router-link-exact-active {
            color: $soft-blue;
          }
    }
    .form-inline
        .form-control {
            height: 30px;
        }
}