.navbar{
    background-color: #42b983;
    height: 70px;
    a {
        color: white;
        font-weight: bold;
        &.router-link-exact-active {
            color: #2c3e50;
          }
    }
    .form-inline
        .form-control {
            height: 30px;
        }
}